#team{
  .boxWrapper .imgWrapper {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border: none;
  }

  .boxWrapper {
    width:255px;
    margin: 0 auto 0 auto;
  }
  .boxContent {
    text-align:center;
  }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #team img {
    width: 100%;
    max-width: auto;
  }

  #team article div:first-child, #team .boxContent2, #team .boxContent {
    float: left;
    width: 100%
  }
}